name: CI

on:
  workflow_call:
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.9

      - name: Install dependencies
        run: bun ci

      - name: Lint and format check
        run: bun run check

      - name: Type check
        run: bun run check:types

      - name: Test
        run: bun run test

      - name: Build
        run: bun run build
